<!DOCTYPE html>
<html <%- metaHeader.htmlAttributes.toString() %>>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=vietnamese" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet">

    <%- metaHeader.title.toString() %>
    <%- metaHeader.base.toString() %>
    <%- metaHeader.meta.toString() %>
    <%- metaHeader.link.toString() %>
    <%- metaHeader.script.toString() %>
    <%- metaHeader.style.toString() %>

    <style>
      .splash {
        position: fixed;
        left: 0; top: 0; right: 0; bottom: 0;
        z-index: 99;
        background-color: #303841;
      }
      .splash .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .splash .center img {
        width: 50px;
      }
    </style>
  </head>
  <body>
    <div class="splash" id="splash-screen">
      <div class="center">
        <img src="bottle.svg" alt="">
      </div>
    </div>

    <div id="root"><%- html %></div>
    <script type="text/javascript" charset="utf-8">
      window.__REDUX_STATE__ = '<%= reduxState %>';
    </script>

    <% scriptSrcs.forEach(function(src){ %>
      <script src="<%= src %>"></script>
    <% }) %>

    <!-- zotabox -->
    <script type="text/javascript">
      (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/2/7/274f0a95225f8ff8c56b2e475e4390cf/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
    </script>
  </body>
</html>
